line{
           
           stroke:green;
           stroke-width:5px
}

.line1{
           
           stroke:blue;
           stroke-width:5px
}


.orange{
           
           stroke:orange;
           stroke-width:5px
}

.dasharray{
           stroke-dasharray: 10 10;
           
}
